.logout {
    display: flex!important;
    flex-direction: row!important;
}

.logoutButton {
    margin-left: 115em;
}

@media only screen and (max-width: 640px) {
    .logoutButton {
        margin-left: 11em;
    }
}