.home {
    display: flex;
    margin-top: 50px;
    color: #FFC107;
    justify-content: center;
}

.home2 {
    display: flex;
    justify-content: center;
}


/* 
.tag {
    display: flex;
    color: #E76f51;
} */

.listOfBoards {
    display: flex;
    justify-content: center;
}

.homeIconContainer {
    display: flex;
    justify-content: center;
}

.AddBoardName,
.home-plus-icon {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .home {
        display: flex;
        margin-top: 60px;
        color: #FFC107;
        justify-content: center;
    }
    .home2 {
        display: flex;
        justify-content: center;
    }
    .listOfBoards {
        display: flex;
        justify-content: center;
    }
    .homeIconContainer {
        display: flex;
        justify-content: center;
    }
    .AddBoardName,
    .home-plus-icon {
        display: flex;
    }
}